<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dayshuai.blog.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.dayshuai.blog.dto.Tag">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_name" jdbcType="VARCHAR" property="tagName" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, tag_name, user_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dayshuai.blog.dto.Tag">
    insert into tag (tag_id, tag_name, user_id
      )
    values (#{tagId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}
      )
  </insert>

  <select id="queryTagList" parameterType="com.dayshuai.blog.dto.Tag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tag
  </select>



  <select id="findTagByBlogId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT t.tag_id,t.tag_name
        FROM blog_tag bt LEFT JOIN tag t on bt.tag_id = t.tag_id
        WHERE blog_id = #{id}
    </select>

  <insert id="insertSelective" parameterType="com.dayshuai.blog.dto.Tag">
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        tag_id,
      </if>
      <if test="tagName != null">
        tag_name,
      </if>
      <if test="userId != null">
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tagId != null">
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null">
        #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dayshuai.blog.dto.Tag">
    update tag
    <set>
      <if test="tagName != null">
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dayshuai.blog.dto.Tag">
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER}
    where tag_id = #{tagId,jdbcType=INTEGER}
  </update>
</mapper>